# General
numpy

# ELEx
dash
plotly
dash-bootstrap-components
reportlab
PyMuPDF
qrcode
pint

# Monitoring
pynvml
psutil
pyrapl # (clone https://github.com/powerapi-ng/pyRAPL and install locally)

# paper result generation
kaleido
orca
nbformat
ipython
