# General
numpy
scikit-learn

# ELEx
dash
plotly
dash-bootstrap-components
reportlab
PyMuPDF
qrcode
pint

# Monitoring
pypapi # dont forget to also apt install papi-tools
pynvml
psutil
pyrapl # (better clone https://github.com/powerapi-ng/pyRAPL and install locally)

# paper result generation
kaleido
orca
nbformat
ipython
